.card-producto img {
    width: 100px;
}

.card-producto {
    width: 250px;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    margin: 2px;
    text-align: center;
}

#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;    
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

.li-producto {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.producto-img {
    width: 100px;
}

#lista-productos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mensaje-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 5x 30px;
    border-radius: 4px;
}

.mensaje-error strong {
    color: #ae4f4e;
}